# Ford-GoBike-System-Data Exploration
## <i> - Nithin Jacob Cherian

In [6]:
# import all required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import os
import zipfile
%matplotlib inline

In [23]:
# create the path and get the name list under the path 
curDir = os.getcwd()
path = curDir+'/Data/'
zip_files = os.listdir(path)

# build the frame df by appending each file
file_list = []
for file in zip_files:
    filename = path+file
    zf = zipfile.ZipFile(filename)
    csvfile=file[:-4]
    df = pd.read_csv(zf.open(csvfile))
    file_list.append(df)
df_bike = pd.concat(file_list)

In [25]:
df_bike.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,...,ride_id,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,is_equity
0,80825.0,2019-01-31 17:57:44.6130,2019-02-01 16:24:49.8640,229.0,Foothill Blvd at 42nd Ave,37.775745,-122.213037,196.0,Grand Ave at Perkins St,37.808894,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65900.0,2019-01-31 20:58:33.8860,2019-02-01 15:16:54.1730,4.0,Cyril Magnin St at Ellis St,37.785881,-122.408915,134.0,Valencia St at 24th St,37.752428,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62633.0,2019-01-31 18:06:52.9240,2019-02-01 11:30:46.5300,245.0,Downtown Berkeley BART,37.870139,-122.268422,157.0,65th St at Hollis St,37.846784,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44680.0,2019-01-31 19:46:09.7190,2019-02-01 08:10:50.3180,85.0,Church St at Duboce Ave,37.770083,-122.429156,53.0,Grove St at Divisadero,37.775946,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60709.0,2019-01-31 14:19:01.5410,2019-02-01 07:10:51.0650,16.0,Steuart St at Market St,37.794130,-122.394430,28.0,The Embarcadero at Bryant St,37.787168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_bike.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3792668 entries, 0 to 158167
Data columns (total 25 columns):
 #   Column                   Dtype
---  ------                   -----
 0   duration_sec             float64
 1   start_time               object
 2   end_time                 object
 3   start_station_id         float64
 4   start_station_name       object
 5   start_station_latitude   float64
 6   start_station_longitude  float64
 7   end_station_id           float64
 8   end_station_name         object
 9   end_station_latitude     float64
 10  end_station_longitude    float64
 11  bike_id                  float64
 12  user_type                object
 13  bike_share_for_all_trip  object
 14  rental_access_method     object
 15  ride_id                  object
 16  rideable_type            object
 17  started_at               object
 18  ended_at                 object
 19  start_lat                float64
 20  start_lng                float64
 21  end_lat                  float64
 22  end_lng                  float64
 23  member_casual            object
 24  is_equity                object
dtypes: float64(12), object(13)
memory usage: 752.3+ MB

In [27]:
# data cleaning : drop na rows, not relevant columns etc
df_bike_copy =  df_bike.copy()
df_bike_copy.drop(['start_station_latitude','start_station_longitude', 'end_station_latitude', 'end_station_longitude'], axis=1, inplace=True)
df_bike_copy.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,end_station_id,end_station_name,bike_id,user_type,bike_share_for_all_trip,...,ride_id,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,is_equity
0,80825.0,2019-01-31 17:57:44.6130,2019-02-01 16:24:49.8640,229.0,Foothill Blvd at 42nd Ave,196.0,Grand Ave at Perkins St,4861.0,Subscriber,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65900.0,2019-01-31 20:58:33.8860,2019-02-01 15:16:54.1730,4.0,Cyril Magnin St at Ellis St,134.0,Valencia St at 24th St,5506.0,Subscriber,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62633.0,2019-01-31 18:06:52.9240,2019-02-01 11:30:46.5300,245.0,Downtown Berkeley BART,157.0,65th St at Hollis St,2717.0,Customer,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44680.0,2019-01-31 19:46:09.7190,2019-02-01 08:10:50.3180,85.0,Church St at Duboce Ave,53.0,Grove St at Divisadero,4557.0,Customer,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60709.0,2019-01-31 14:19:01.5410,2019-02-01 07:10:51.0650,16.0,Steuart St at Market St,28.0,The Embarcadero at Bryant St,2100.0,Customer,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_bike_copy.isnull().sum()

duration_sec                380678
start_time                  380678
end_time                    380678
start_station_id            707745
start_station_name          705911
end_station_id              715574
end_station_name            713748
bike_id                     380678
user_type                   380678
bike_share_for_all_trip    1528944
rental_access_method       3053972
ride_id                    3411990
rideable_type              3411990
started_at                 3411990
ended_at                   3411990
start_lat                  3411990
start_lng                  3411990
end_lat                    3412632
end_lng                    3412632
member_casual              3411990
is_equity                  3654417
dtype: int64